<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="Databs" connectionString="Data Source=(LocalDB)\v11.0; AttachDbFilename=C:\Users\Narangir\OneDrive\Documents\Visual Studio 2013\WebSites\tripadvisor\App_Data\Databs.mdf;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    
  </connectionStrings>
    <system.web>
      <compilation debug="true" strict="false" explicit="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" maxRequestLength ="2097151"/>
    </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="true" />
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="100000000" />
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
